@using System.Collections.Generic
@model List<CoreMvc.Models.Views.AtividadeRealizadaView>

@{
    ViewData["Title"] = "Atividades Realizadas";
}

<form asp-controller="AtividadesRealizadas" asp-action="Salvar" data-ajax="true" data-ajax-method="POST" data-ajax-complete="onComplete">
    <div id="diario">    
        <table class="table table-striped">
            <thead>
                <tr id="listaAtividadesRealizadas">
                    <th class="col-lg-3">Atividade</th>
                    <th class="col-lg-6">Detalhes</th>
                    <th class="col-lg-1">Pontos</th>
                    <th class="col-lg-1">Quantidade</th>
                    <th class="col-lg-1">Total</th>
                </tr>
            </thead>
            <tbody>
                @for(var index=0; index < Model.Count(); index++) {
                    <tr>
                        <td class="col-lg-3" data-toggle="tooltip" title="Requisitos: @Model[index].Requisitos">
                            <input asp-for="@Model[index].Nome" type="hidden">@Model[index].NomeCurto</td>
                        <td class="col-lg-6">
                            <textarea rows="3" style="min-width:100%" asp-for="@Model[index].Detalhes"></textarea>
                        </td>
                        <td class="col-lg-1 incPontos">
                            <input asp-for="@Model[index].Pontos" type="hidden">@Model[index].Pontos</td>
                        <td class="col-lg-1">                            
                            <input type="number" class="incQuantidade" min="0" asp-for="@Model[index].Quantidade">
                        </td>
                        <td class="col-lg-1 incTotal">
                            <input asp-for="@Model[index].Total" type="hidden">@Model[index].Total</td>
                        <input asp-for="@Model[index].Id" type="hidden">
                        <input asp-for="@Model[index].Requisitos" type="hidden">
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row linhaSalvarSemScroll">
        <div class="col-lg-12">
            <button class="btn float-right linhaSalvarSemScroll">Salvar</button>
        </div>
    </div>
</form>